export(magmaan)
export(infer)
export(parameters)
export(as_lab_fit)
S3method(print, magmaan)
S3method(summary, magmaan)
S3method(print, summary.magmaan)
S3method(coef, magmaan)
S3method(vcov, magmaan)
S3method(confint, magmaan)
S3method(nobs, magmaan)
S3method(anova, magmaan)
S3method(print, magmaan_anova)
importFrom(stats, coef, vcov, confint, nobs, anova)
