useDynLib(magmaan, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(compute_defined)
export(df_to_data)
export(df_to_fiml_data)
export(factor_scores)
export(magmaan)
export(magmaan_core)
export(model_spec)
export(modification_indices)
export(nestedTest)
export(robust_nested_lrt)
export(standardized)
export(version)
S3method(print, magmaan_nested_test)
S3method(print, magmaan_fit)
S3method(residuals, magmaan_fit)
