useDynLib(magmaan, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(compute_defined)
export(composite_weights)
export(bounds_loading)
export(bounds_pos_var)
export(bounds_standard)
export(bounds_variance)
export(bounds_wide)
export(df_to_data)
export(df_to_fcsem_data)
export(df_to_fiml_data)
export(factor_scores)
export(fit_measures)
export(fmg_tests)
export(fmg_tests_ordinal)
export(fmg_tests_mixed_ordinal)
export(fmg_pvalues)
export(fcsem_fit_measures)
export(fcsem_model_spec)
export(fcsem_standard_errors)
export(fcsem_standardized_rows)
export(fit_ml_fcsem)
export(convergence_sim)
export(convergence_sim_catalog)
export(convergence_sim_dejonckere_crossloading)
export(convergence_sim_dejonckere_msst)
export(convergence_sim_dejonckere_simple)
export(convergence_sim_dejonckere_shrinkage)
export(convergence_sim_ludtke_cfa)
export(magmaan)
export(magmaan_fcsem)
export(magmaan_core)
export(model_spec)
export(modification_indices)
export(modification_indices_robust)
export(nestedTest)
export(robust_nested_lrt)
export(score_tests)
export(score_tests_robust)
export(standardized)
export(version)
S3method(print, magmaan_nested_test)
S3method(print, magmaan_convergence_sim)
S3method(print, magmaan_fit)
S3method(print, magmaan_core)
S3method(residuals, magmaan_fit)
