useDynLib(magmaan, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(compute_defined)
export(df_to_data)
export(df_to_fiml_data)
export(magmaan)
export(magmaan_core)
export(model_spec)
export(nestedTest)
export(version)
S3method(print, magmaan_nested_test)
S3method(print, magmaan_fit)
